{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "11"
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ],
    "env": {
        "dev": {
          "sourceMaps": "inline",
          "retainLines": true
        }
      }    
}